 <!-- INÍCIO DO CONTEÚDO -->
 <section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Meat | Aplicação que demonstra as features do Angular
    </p>
    <p class="lead">Nome: Antonio Luciano Lima da Silva</p>
    <p class="lead">Email: luclimasilva23@gmail.com</p>
    <p class="lead">Linkdin: <a href="https://www.linkedin.com/in/antonio-luciano-lima-da-silva-27828b142">Antonio Luciano</a></p>
    <p class="lead">Cclaim: <a href="https://www.youracclaim.com/badges/f9adce79-776e-4769-b753-b0eea4bff3f6">Certificação Java</a></p>
    <p class="lead">Telefone: (88) 98852-7485</p>

  </section>
<!-- FIM DO CONTEÚDO -->